In [1]:
# OOP: Object Oriented Programming
# Modular way of programming 
# Class & Object & instance

In [3]:
i=10

In [4]:
print(type(i))

<class 'int'>

In [2]:
class test:

SyntaxError: unexpected EOF while parsing (<ipython-input-2-6ccad8358cd9>, line 1)

In [5]:
class test:
    pass

In [6]:
class person:
    pass

In [7]:
p = person

In [8]:
type(p)

type

In [9]:
print(p)

<class '__main__.person'>

In [10]:
# Bad practice
p.name = "Anuj"
p.surname = "Yadav"
p.yob = 1994

In [11]:
# Bad Practice 
a = person
a.name = "Ram"
a.yob = 1990
a.empid = 3442

In [12]:
p.name

'Ram'

In [13]:
a.name

'Ram'

In [18]:
# Good practice 
class Person:
    def __init__(self,name,surname,yob):
        self.name = name
        self.surname = surname
        self.yob = yob

In [22]:
p = Person("anuj","yadav",1994)

In [23]:
print(p)

<__main__.Person object at 0x000002086D7C5088>

In [24]:
p.name

'anuj'

In [25]:
q = Person("Ram","Singh",1990)

In [27]:
q.name

'Ram'

In [28]:
p.name = "Anuj"

In [29]:
p.name

'Anuj'

In [30]:
class Person:
    def __init__(self,name,surname,yob):
        self.name = name
        self.surname = surname
        self.yob = yob
        
    def test(self,m,n):
        return m+n+yob

In [33]:
p = Person("anuj","yadav",1990)
p.test(5,5)

NameError: name 'yob' is not defined

In [34]:
class Person:
    def __init__(self,name,surname,yob):
        self.name = name
        self.surname = surname
        self.yob = yob
        
    def test(self,m,n):
        return m+n+self.yob

In [35]:
p = Person("anuj","yadav",1990)
p.test(5,5)

2000

In [36]:
print(p)

<__main__.Person object at 0x000002086F6D4048>

In [37]:
class Person:
    def __init__(self,name,surname,yob):
        self.name = name
        self.surname = surname
        self.yob = yob
        
    def test(self,m,n):
        return m+n+self.yob
    
    def __str__(self):
        return 1

In [39]:
p = Person("anuj","yadav",1990)
print(p)

TypeError: __str__ returned non-string (type int)

In [40]:
class Person:
    def __init__(self,name,surname,yob):
        self.name = name
        self.surname = surname
        self.yob = yob
        
    def test(self,m,n):
        return m+n+self.yob
    
    def __str__(self):
        return "%s %s %d"%(self.name, self.surname, self.yob)

In [41]:
p = Person("anuj","yadav",1990)
print(p)

anuj yadav 1990

In [42]:
s = Person("Ram", "Singh", 1994)
print(s)

Ram Singh 1994

In [43]:
p

In [44]:
s

In [45]:
class Person:
    def pass_name(self,name):
        self.name = name
        
    def pass_surname(self,surname):
        self.surname = surname
        
    def pass_yob(self,yob):
        self.yob = yob

In [46]:
p = Person()

In [47]:
p.name

AttributeError: 'Person' object has no attribute 'name'

In [48]:
p.pass_name("anuj")

In [49]:
p.name

'anuj'

In [50]:
p.__dict__  # gives you data for thae class

{'name': 'anuj'}

In [51]:
# Abstraction -- > Making Class veriable _public & __Private

In [52]:
class Person:
    def __init__(self,name,surname,yob):
        self._name = name
        self._surname = surname
        self._yob = yob
        
    def test(self,m,n):
        return m+n+self.yob
    
    def __str__(self):
        return "%s %s %d"%(self.name, self.surname, self.yob)

In [53]:
s = Person("Ram", "Singh", 1994)

In [54]:
s._name

'Ram'

In [55]:
s.__dict__

{'_name': 'Ram', '_surname': 'Singh', '_yob': 1994}

In [56]:
class Person:
    def __init__(self,name,surname,yob):
        self.__name = name
        self._surname = surname
        self._yob = yob
        
    def test(self,m,n):
        return m+n+self.yob
    
    def __str__(self):
        return "%s %s %d"%(self.name, self.surname, self.yob)

In [57]:
s = Person("Ram", "Singh", 1994)

In [58]:
s._name

AttributeError: 'Person' object has no attribute '_name'

In [59]:
s.__dict__

{'_Person__name': 'Ram', '_surname': 'Singh', '_yob': 1994}

In [60]:
s._Person__name

'Ram'

In [61]:
# Inheritances: we can inheritate property of class A to class B

In [62]:
class Person:
    def __init__(self,name,surname,yob):
        self.name = name
        self.surname = surname
        self.yob = yob
        
    def test(self,m,n):
        return m+n+self.yob
    
    def __str__(self):
        return "%s %s %d"%(self.name, self.surname, self.yob)

In [63]:
class Student(Person):
    def __init__(self,roll_num,college_name,*args):
        super(Student, self).__init__(*args)
        
        self.roll_num = roll_num
        self.college_name = college_name
        
stu = Student(55,"IPEC")

TypeError: __init__() missing 3 required positional arguments: 'name', 'surname', and 'yob'

In [66]:
stu = Student(name="Anuj",surname="Yadav",yob=1994,roll_num=55,college_name="IPEC")

TypeError: __init__() got an unexpected keyword argument 'name'

In [67]:
stu.name = "Ram"
stu.surname = "Singh"
stu.yob = 1990
stu.college_name = "IPEC"
stu.roll_num = 1204456

In [68]:
stu.__dict__

{'name': 'Ram',
 'surname': 'Singh',
 'yob': 1990,
 'roll_num': 1204456,
 'college_name': 'IPEC'}

In [73]:
class A:
    def test(self):
        print("Anuj")
        
class B:
    def test(self):
        print("Yadav")
        
class C(A,B):
    obj_a = A()
    obj_b = B()
    obj_a.test()
    obj_b.test()
    
obj_c = C()
obj_c.test()

Anuj
Yadav
Anuj

In [75]:
class A:
    def test(self):
        print("Anuj")
        
class B:
    def test(self):
        print("Yadav")
        
class C(B,A):
    obj_a = A()
    obj_b = B()
    obj_a.test()
    obj_b.test()
    
obj_c = C()
obj_c.test()

Anuj
Yadav
Yadav