Inbulid Metheds in Strins & List

# String

In [1]:
a = "anuj"

In [2]:
a + 1

TypeError: can only concatenate str (not "int") to str

In [3]:
a + "1"

'anuj1'

In [4]:
a + str(1) # str(1) --> This known as type casting

'anuj1'

In [6]:
[] + list("anuj") # list("anuj") --> This known as type casting

['a', 'n', 'u', 'j']

In [7]:
a*3

'anujanujanuj'

In [8]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [10]:
"z"*9

'zzzzzzzzz'

In [11]:
"*"*100

'****************************************************************************************************'

In [12]:
print("*"*100)

****************************************************************************************************

So + operator will concatenate & * operator repet the str or list

In [14]:
b = [1,2,3,4,5]

In [13]:
a.capitalize()

'Anuj'

In [15]:
b.append(6)

In [16]:
b

[1, 2, 3, 4, 5, 6]

In [17]:
a.upper()

'ANUJ'

In [18]:
c = "YADav"

In [19]:
c.lower()

'yadav'

In [20]:
d = "My name is Anuj Yadav"

In [21]:
d.split()

['My', 'name', 'is', 'Anuj', 'Yadav']

In [22]:
d.split("a")

['My n', 'me is Anuj Y', 'd', 'v']

In [24]:
d.lower().split("a")

['my n', 'me is ', 'nuj y', 'd', 'v']

In [42]:
d = "206anuj@gmail.com,y.206anuj@gmail.com,206anujy@gmail.com"

In [43]:
d.split(',')

['206anuj@gmail.com', 'y.206anuj@gmail.com', '206anujy@gmail.com']

In [54]:
e = []
for i in d.split(','):
    e.append(str(i).split("@")[0])
print(e)

['206anuj', 'y.206anuj', '206anujy']

In [49]:
"@gmail.com" in "206anuj@gmail.com"

True

In [55]:
d = "My name is Anuj Yadav"

In [56]:
d.partition()

TypeError: partition() takes exactly one argument (0 given)

In [57]:
d.partition(" ")

('My', ' ', 'name is Anuj Yadav')

In split seprator is not included but in partition it included but partition do the sepration only one time when it enconter the delimeter. Partition always give 3 elemnt tuple.

In [58]:
d

'My name is Anuj Yadav'

In [59]:
d.find("a")  #---> Gives the index of a

4

In [60]:
d.find("A")  #---> Gives the index of A

11

In [61]:
d.find("An")

11

In [62]:
d.find("z")  # --> if did not find element in string

-1

In [63]:
a

'anuj'

In [64]:
a.center()

TypeError: center() takes at least 1 argument (0 given)

In [65]:
a.center(50,"X")

'XXXXXXXXXXXXXXXXXXXXXXXanujXXXXXXXXXXXXXXXXXXXXXXX'

In [66]:
a.center(50,"XY")

TypeError: The fill character must be exactly one character long

In [68]:
print(a.center(100," "))

                                                anuj

In [69]:
"Anuj\tYadav".expandtabs()  #--> add tab

'Anuj    Yadav'

In [70]:
"Anuj\tYadav\tECE\tIPEC".expandtabs()

'Anuj    Yadav   ECE     IPEC'

In [71]:
"Anuj\tYadav\tECE\tIPEC".split("\t")

['Anuj', 'Yadav', 'ECE', 'IPEC']

In [72]:
"My name is {} Yadav".format('Anuj')

'My name is Anuj Yadav'

In [79]:
f = input("Please enter your first name.")
g = input("Please enter your last name.")
"Your name is {} {}.".format(f,g)

Please enter your first name.AN\
Please enter your last name.ya

'Your name is AN\\ ya.'

In [80]:
a = "anuj"

In [81]:
a.isalnum()

True

In [82]:
a.isalpha()

True

In [83]:
"2323".isalpha()

False

In [84]:
a = "Anuj"

In [85]:
a.islower()

False

In [86]:
a.isupper()

False

In [87]:
"ANUJ".isupper()

True

In [88]:
a.istitle()

True

In [89]:
"anuJ".istitle()

False

In [90]:
a

'Anuj'

In [91]:
a.endswith("j")

True

In [92]:
a.endswith('k')

False

In [93]:
len(a)

4

In [94]:
len("Anuj Yadav")

10

In [95]:
print(a)

Anuj

There is no array exist in python core.
It exist in numpy that is python lib.

# List

In [101]:
a = [1,2,3,4,5,"Hello","Anuj",6.78,[9,1,2]]
b = [4,5,6,"My","Name"]

In [102]:
for i in a:
    print(i)

1
2
3
4
5
Hello
Anuj
6.78
[9, 1, 2]

In [104]:
(a+b)*3

[1,
 2,
 3,
 4,
 5,
 'Hello',
 'Anuj',
 6.78,
 [9, 1, 2],
 4,
 5,
 6,
 'My',
 'Name',
 1,
 2,
 3,
 4,
 5,
 'Hello',
 'Anuj',
 6.78,
 [9, 1, 2],
 4,
 5,
 6,
 'My',
 'Name',
 1,
 2,
 3,
 4,
 5,
 'Hello',
 'Anuj',
 6.78,
 [9, 1, 2],
 4,
 5,
 6,
 'My',
 'Name']

In [105]:
(a+b)*0

[]

In [106]:
a + "yadav"

TypeError: can only concatenate list (not "str") to list

In [107]:
a + list("Yadav") # i want add "Yadav" to a but list function converting into characters

[1, 2, 3, 4, 5, 'Hello', 'Anuj', 6.78, [9, 1, 2], 'Y', 'a', 'd', 'a', 'v']

In [108]:
list("Yadav")

['Y', 'a', 'd', 'a', 'v']

List()  --> Always takes a iterable objects

In [110]:
list(34) # -->'int' object is not iterable

TypeError: 'int' object is not iterable

In [111]:
list([34])

[34]

In [112]:
b

[4, 5, 6, 'My', 'Name']

In [115]:
b.append("is") # append function add data at tail of list

In [116]:
b

[4, 5, 6, 'My', 'Name', 'is', 'is']

In [117]:
b.insert(3,7) # --> 3 is index 7 is data

In [118]:
b

[4, 5, 6, 7, 'My', 'Name', 'is', 'is']

In [119]:
b.insert(-1,"Mr.")

In [120]:
b

[4, 5, 6, 7, 'My', 'Name', 'is', 'Mr.', 'is']

In [121]:
b[3]

7

In [122]:
b[-1]

'is'

In [123]:
b

[4, 5, 6, 7, 'My', 'Name', 'is', 'Mr.', 'is']

In [124]:
b.pop()

'is'

In [125]:
b

[4, 5, 6, 7, 'My', 'Name', 'is', 'Mr.']

In [126]:
b.pop()

'Mr.'

In [127]:
b

[4, 5, 6, 7, 'My', 'Name', 'is']

In [128]:
b[3]

7

In [129]:
b.pop(3)

7

In [130]:
b

[4, 5, 6, 'My', 'Name', 'is']

In [131]:
b.pop(-2)

'Name'

In [138]:
b

[4, 5, 6, 'My', 'is']

In [139]:
b[::-1] # --> change is not permanent

['is', 'My', 6, 5, 4]

In [140]:
b.reverse() # - - > chage is parmanent

In [141]:
b

['is', 'My', 6, 5, 4]

In [143]:
b.reverse()

In [144]:
b

[4, 5, 6, 'My', 'is']

In [145]:
b.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [146]:
c = [3,2,1]

In [147]:
c.sort()

In [148]:
c

[1, 2, 3]

In [150]:
c = ["Yadav", "Anuj"]

In [151]:
c.sort()

In [152]:
c

['Anuj', 'Yadav']

In [153]:
c.sort(reverse=True)

In [154]:
c

['Yadav', 'Anuj']

In [198]:
a = [12,3,4,5,6,7]
b = [8,4,3,212,4,56,7,8]
c = [23.4,56,7,899,5,4,3,32,43,55,67,88]

In [199]:
l = [a,b,c]

In [158]:
l

[[12, 3, 4, 5, 6, 7],
 [8, 4, 3, 212, 4, 56, 7, 8],
 [23.4, 56, 7, 899, 5, 4, 3, 32, 43, 55, 67, 88]]

In [160]:
l[2][3]

899

In [161]:
l[2][3:]

[899, 5, 4, 3, 32, 43, 55, 67, 88]

In [162]:
l[2][:4]

[23.4, 56, 7, 899]

In [163]:
l[2][::2]

[23.4, 7, 5, 3, 43, 67]

In [207]:
a = [12,3,4,5,6,7]
b = [8,4,3,212,4,56,7,8]
c = [23.4,56,7,899,5,4,3,32,43,55,67,88]
l = [a,b,c]

In [208]:
m = []
n = l[::-1]

In [209]:
n

[[23.4, 56, 7, 899, 5, 4, 3, 32, 43, 55, 67, 88],
 [8, 4, 3, 212, 4, 56, 7, 8],
 [12, 3, 4, 5, 6, 7]]

In [210]:
for i in n:
    m.append(i[::-1])
print(m)

[[88, 67, 55, 43, 32, 3, 4, 5, 899, 7, 56, 23.4], [8, 7, 56, 4, 212, 3, 4, 8], [7, 6, 5, 4, 3, 12]]

In [211]:
m

[[88, 67, 55, 43, 32, 3, 4, 5, 899, 7, 56, 23.4],
 [8, 7, 56, 4, 212, 3, 4, 8],
 [7, 6, 5, 4, 3, 12]]

In [217]:
o = []
for i in m:
    o.append((i[2]))
    
print(o)

[55, 56, 5]

In [218]:
o = []
for i in m:
    o.append((i[2]*2))
    
print(o)

[110, 112, 10]

# List comprehansion

In [219]:
[i[2]*3 for i in m]

[165, 168, 15]

In [239]:
a = [1,2,4,3]
b = [9,8,7]

In [240]:
a.append(b)

In [241]:
a

[1, 2, 4, 3, [9, 8, 7]]

In [242]:
a = [1,2,4,3]

In [243]:
a.extend(b)

In [244]:
a

[1, 2, 4, 3, 9, 8, 7]

In [245]:
b = [1,2,3,[5,6],[7,8]]

In [246]:
a.extend(b)

In [247]:
a

[1, 2, 4, 3, 9, 8, 7, 1, 2, 3, [5, 6], [7, 8]]

In [248]:
a.index(8)

5

In [249]:
a.index(2)

1

In [250]:
# find avalable in string & index avalable in index

In [251]:
a.find(100)

AttributeError: 'list' object has no attribute 'find'

In [252]:
a

[1, 2, 4, 3, 9, 8, 7, 1, 2, 3, [5, 6], [7, 8]]

In [253]:
a.remove(2)

In [254]:
a

[1, 4, 3, 9, 8, 7, 1, 2, 3, [5, 6], [7, 8]]

In [255]:
for i in a:
    if i == 1:
        a.remove(1)
print(a)

[4, 3, 9, 8, 7, 2, 3, [5, 6], [7, 8]]