# WAF to check the number is prime or not

In [3]:
# we'll use for else statement for this

def is_prime(num):
    for i in range(2,num):
        if (num % i == 0):
            print("Not a Prime Number.")
            break
            
    else:
        print("A Prime Number.")

In [4]:
is_prime(10)

Not a Prime Number.

In [8]:
is_prime(131)

A Prime Number.

In [9]:
def is_prime(num):
    for i in range(2,num):
        if (num % i == 0):
            return ("Not a Prime Number.")
            break
            
    else:
        return ("A Prime Number.")

In [10]:
is_prime(170)

'Not a Prime Number.'

In [11]:
is_prime(167)

'A Prime Number.'

In [13]:
def is_prime(num):
    for i in range(2,num):
        if (num % i == 0):
            return False
            break
            
    else:
        return True

In [14]:
is_prime(11)

True

In [15]:
is_prime(15)

False

In [16]:
def is_prime(num):
    for i in range(2,num):
        if (num % i == 0):
            return 0
            break
            
    else:
        return 1

In [17]:
is_prime(17)

1

In [18]:
is_prime(21)

0

## Iterator & Generator

In [19]:
# 'int' object is not iterable

for i in 7:    
    pass

TypeError: 'int' object is not iterable

In [20]:
for i in "anuj":
    pass

In [21]:
# If object is iterable than only we can convert into iterator.
# With the help of iter() function.
# iterable objects are object which follw the indexing(indexing means they stored in memory sequantially.)

In [22]:
next("anuj") # 'str' object is not an iterator

TypeError: 'str' object is not an iterator

In [23]:
# so we can convert 'str' object to iterator with the help of iter() function

In [29]:
a = iter("anuj")
type(a)

str_iterator

In [30]:
next(a)

'a'

In [35]:
# this same concept used by for loop internally to itrate to the objects

In [36]:
iter(18)

TypeError: 'int' object is not iterable

In [37]:
# Generator
# This will generate the data rembering the fact that what is generated last time.
# Eg: Range() function

In [40]:
next(range(5))

TypeError: 'range' object is not an iterator

In [41]:
for i in range(5):
    print(i)

0
1
2
3
4

In [42]:
# So by defult range objectis not iterator but it is iterable so we can convert into iterator

In [45]:
d = iter(range(5))

In [48]:
next(d)

2

In [59]:
print("*"*127)

*******************************************************************************************************************************

In [60]:
def gen_cube(n):
    for i in range(n):
        print(i**3)

In [61]:
gen_cube(5)

0
1
8
27
64

In [62]:
# So gen_cube is returning the individual data i want o/p in generator object. for that we'll use yield keyword

In [63]:
def gen_cube(n):
    for i in range(n):
        yield(i**3)

In [64]:
gen_cube(5) # so new we're getting generator object

In [65]:
for i in gen_cube(5):
    print(i)

0
1
8
27
64

In [68]:
next(gen_cube(5))

0

In [70]:
a = iter(gen_cube(5))
type(a)

generator

In [73]:
next(a)

8

In [75]:
type(range(10))

range

In [80]:
# WA generator fbinoky squance

def gen_fib(n):
    b = 1
    a = 1
    for i in range(n):
        yield a
        a,b = b,a+b

In [81]:
gen_fib(10)

In [82]:
for i in gen_fib(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [78]:
def gen_fib(n):
    b = 1
    a = 1
    for i in range(n):
        print(a)
        a,b = b,a+b

In [79]:
gen_fib(10)

1
1
2
3
5
8
13
21
34
55

In [1]:
# Map, Reduce, Filter function
# time complexcity & space complexcity is less in these function wrt for general for loop

In [2]:
def square(n):
    return n**2

In [3]:
square(4)

16

In [8]:
# create squre of given list & want o/p is a list

In [9]:
# Way-1
l = [5,6,7,8,9]
m = []
for i in l:
    
    m.append(square(i))
    
m

[25, 36, 49, 64, 81]

In [12]:
# Way-2
[square(i) for i in l]

[25, 36, 49, 64, 81]

In [13]:

map(square, l)

In [14]:
# Way-3
list(map(square, l))

[25, 36, 49, 64, 81]

In [15]:
# Map workes a generator
for i in map(square,l):
    print(i)

25
36
49
64
81

In [16]:
list(map(lambda x:x**2,l))

[25, 36, 49, 64, 81]

In [17]:
type(map(lambda x:x**2,l))

map

In [18]:
c = lambda x:x**2

In [19]:
list(map(c,l))

[25, 36, 49, 64, 81]

In [20]:
a = [1,2,3,4]
b = [2,3,4,5,6,7]
c = [3,4,5,6,7,8,9]

In [21]:
def sum_in(x,y,z):
    return x+y+z

In [22]:
list(map(sum_in, a,b,c))

[6, 9, 12, 15]

In [23]:
list(map(lambda x,y,z:x+y+z, a,b,c))

[6, 9, 12, 15]

In [24]:
# Reduce function 
from functools import reduce

In [27]:
def sum_two(a,b):
    return a+b

l = [1,2,3,4,5]

In [28]:
reduce(sum_two,l)

15

In [29]:
reduce(lambda x,y:x+y,l) # Only two argument reqared, do aggregation

15

In [30]:
reduce(lambda x,y,z:x+y+z, l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [34]:
l = [1,2,3,4,5,6,7,8,9,10,10]

In [35]:
# Filter 
list(filter(lambda x:x%2==0, l))

[2, 4, 6, 8, 10, 10]

In [38]:
def even_check(n):
    if n%2 == 0 :
        return True

In [39]:
list(filter(even_check, l))

[2, 4, 6, 8, 10, 10]