# Tuple

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t = (1,2,3,"Anuj",4.56,4+5j)

In [4]:
t

(1, 2, 3, 'Anuj', 4.56, (4+5j))

In [5]:
t[0]

(1, 2, 3, 'Anuj', 4.56, (4+5j))

In [6]:
t[-1]

(4+5j)

In [7]:
len(t)

6

In [8]:
t[::-1]

((4+5j), 4.56, 'Anuj', 3, 2, 1)

In [9]:
l = [9,8,7,6,5]

In [10]:
l

[9, 8, 7, 6, 5]

In [11]:
t

(1, 2, 3, 'Anuj', 4.56, (4+5j))

In [13]:
l[0]

9

In [14]:
t[0]

1

In [15]:
l[0] = 100

In [16]:
l

[100, 8, 7, 6, 5]

In [17]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [18]:
s = "Anuj"

In [19]:
s[0] = "Z"

TypeError: 'str' object does not support item assignment

In [20]:
t

(1, 2, 3, 'Anuj', 4.56, (4+5j))

In [21]:
for i in t:
    print(i)

1
2
3
Anuj
4.56
(4+5j)

In [23]:
for i in range(len(t)):
    print(t[i])

1
2
3
Anuj
4.56
(4+5j)

In [22]:
l=[1,2,3,4]
for i in l:
    print(l)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [27]:
t = (1,2,2,3,3,3,4,4)

In [28]:
t.count(4)

2

In [29]:
t.count(3)

3

In [31]:
t.index(3)

3

In [32]:
t.index(2)

1

In [34]:
t.index(4)

6

In [36]:
t.index(11)

ValueError: tuple.index(x): x not in tuple

In [37]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)

In [38]:
t1+t2

(1, 2, 3, 4, 5, 6, 7, 8)

In [39]:
t1*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [41]:
t1

(1, 2, 3, 4)

In [42]:
list(t1)

[1, 2, 3, 4]

In [43]:
l = [1,2,3]

In [44]:
tuple(l)

(1, 2, 3)

In [45]:
t1

(1, 2, 3, 4)

In [46]:
# i want a new tuple 100 in 2nd index of t1

In [52]:
p = list(t1)

In [53]:
p[2]=100

In [54]:
p

[1, 2, 100, 4]

In [55]:
t1 = tuple(p)

In [56]:
t1

(1, 2, 100, 4)

In [57]:
tuple("ANUJ")

('A', 'N', 'U', 'J')

In [58]:
str((1,2))

'(1, 2)'

# Set

In [84]:
a = {}
type(a)

dict

In [85]:
a = {1}
type(a)

set

In [59]:
s = set()

In [60]:
type(s)

set

In [66]:
s = set([1,2,3,1,23,1,1,23,21,12,2,1,21,2,312,2])

In [67]:
s

{1, 2, 3, 12, 21, 23, 312}

In [68]:
s = {1,2,3,1,2,3,1,2,3,1,2,2,1,3}

In [69]:
s

{1, 2, 3}

In [70]:
s = {"Anuj","anuj","anuj","Yadav","yadav","Yadav"}

In [71]:
s

{'Anuj', 'Yadav', 'anuj', 'yadav'}

In [72]:
set((1,2,3,1,23))

{1, 2, 3, 23}

In [73]:
set("anuj")

{'a', 'j', 'n', 'u'}

In [74]:
s

{'Anuj', 'Yadav', 'anuj', 'yadav'}

In [75]:
s[0]

TypeError: 'set' object is not subscriptable

In [76]:
for i in s:
    print(i)

yadav
anuj
Yadav
Anuj

In [79]:
s

{'Anuj', 'Yadav', 'anuj', 'yadav'}

In [80]:
list(s)

['yadav', 'anuj', 'Yadav', 'Anuj']

In [81]:
str(s)

"{'yadav', 'anuj', 'Yadav', 'Anuj'}"

In [86]:
s.add("New")

In [87]:
s

{'Anuj', 'New', 'Yadav', 'anuj', 'yadav'}

In [88]:
s.pop()

'anuj'

In [89]:
s

{'Anuj', 'New', 'Yadav', 'yadav'}

In [90]:
s.pop()

'yadav'

In [91]:
s

{'Anuj', 'New', 'Yadav'}

In [92]:
s.pop()

'Yadav'

In [93]:
s

{'Anuj', 'New'}

In [94]:
s.pop()

'New'

In [95]:
s

{'Anuj'}

In [96]:
s.pop()

'Anuj'

In [97]:
s

set()

In [98]:
d = {1,2,4,2,13,4,2}

In [99]:
d

{1, 2, 4, 13}

In [100]:
d.pop(4)

TypeError: pop() takes no arguments (1 given)

In [101]:
d = {1,2,3,4,2,1,23,4,2,1,[1,2,3]}

TypeError: unhashable type: 'list'

In [108]:
d = {"anuj","yadav",1,2,3,"ram",2,3,4,2,5,2,3,1,3,4,5,23,1,1112,2234,34232122,3421243,123123}
d

{1,
 1112,
 123123,
 2,
 2234,
 23,
 3,
 3421243,
 34232122,
 4,
 5,
 'anuj',
 'ram',
 'yadav'}

In [107]:
d = {1,2,3,2,3,4,2,5,2,3,1,3,4,5,23,1,1112,2234,34232122,3421243,123123}
d

{1, 2, 3, 4, 5, 23, 1112, 2234, 123123, 3421243, 34232122}

In [109]:
for i in d:
    print(i)

anuj
2
3
1
4
5
yadav
3421243
123123
23
1112
2234
ram
34232122

# Dictionary

In [110]:
d = {}
type(d)

dict

In [117]:
d = {"Name":23}

In [118]:
d

{'Name': 23}

In [127]:
d = {"Name":"Anuj", "Surname":"Yadav"}
d

{'Name': 'Anuj', 'Surname': 'Yadav'}

In [128]:
d = {"Name":"Anuj", "Surname":"Yadav","Name":"Xyz"}
d

{'Name': 'Xyz', 'Surname': 'Yadav'}

In [130]:
d = {3:"Ram","Name":"Anuj", "Surname":"Yadav","Name":"Xyz"}
d

{3: 'Ram', 'Name': 'Xyz', 'Surname': 'Yadav'}

In [131]:
d = {3:"Ram","Name":"Anuj", "Surname":"Yadav","Name":"Xyz",#:"Seeta"}
d

SyntaxError: unexpected EOF while parsing (<ipython-input-131-8b4bc4b85f36>, line 2)

In [132]:
d = {3:"Ram","Name":"Anuj", "Surname":"Yadav","Name":"Xyz","#":"Seeta"}
d

{3: 'Ram', 'Name': 'Xyz', 'Surname': 'Yadav', '#': 'Seeta'}

In [133]:
d = {3:"Ram","Name":"Anuj",[1,2,3]:"Hello"}
d

TypeError: unhashable type: 'list'

In [134]:
d = {"Key":[1,2,3]}
d

{'Key': [1, 2, 3]}

In [135]:
d = {"Key":[1,2,3,[5,6,7]]}
d

{'Key': [1, 2, 3, [5, 6, 7]]}

In [136]:
d = {"Key":[1,2,3,[5,6,7]],"Kay1":(1,2,3)}
d

{'Key': [1, 2, 3, [5, 6, 7]], 'Kay1': (1, 2, 3)}

In [140]:
d = {"Key":[1,2,3,[5,6,7]],"Kay1":(1,2,3),"Key2":{1,2,1,32,32}}
d

{'Key': [1, 2, 3, [5, 6, 7]], 'Kay1': (1, 2, 3), 'Key2': {1, 2, 32}}

In [141]:
d = {"Key":[1,2,3,[5,6,7]],"Kay1":(1,2,3),"KEy2":{1,2,1,32,32}, "Key3":{"x":"a","y":"b"}}
d

{'Key': [1, 2, 3, [5, 6, 7]],
 'Kay1': (1, 2, 3),
 'KEy2': {1, 2, 32},
 'Key3': {'x': 'a', 'y': 'b'}}

In [143]:
d[0] #  -- > Not possible in dic

KeyError: 0

In [146]:
d

{'Key': [1, 2, 3, [5, 6, 7]],
 'Kay1': (1, 2, 3),
 'KEy2': {1, 2, 32},
 'Key3': {'x': 'a', 'y': 'b'}}

In [148]:
d["Key"][3][1]

6

In [151]:
d['Key3']["y"]

'b'

In [152]:
d

{'Key': [1, 2, 3, [5, 6, 7]],
 'Kay1': (1, 2, 3),
 'KEy2': {1, 2, 32},
 'Key3': {'x': 'a', 'y': 'b'}}

In [156]:
for i in d:
    print(i)

Key
Kay1
KEy2
Key3

In [157]:
for i in d:
    print(d[i])

[1, 2, 3, [5, 6, 7]]
(1, 2, 3)
{32, 1, 2}
{'x': 'a', 'y': 'b'}

In [160]:
d.keys()

dict_keys(['Key', 'Kay1', 'KEy2', 'Key3'])

In [161]:
for i in d.keys():
    print(d[i])

[1, 2, 3, [5, 6, 7]]
(1, 2, 3)
{32, 1, 2}
{'x': 'a', 'y': 'b'}

In [162]:
d.values()

dict_values([[1, 2, 3, [5, 6, 7]], (1, 2, 3), {32, 1, 2}, {'x': 'a', 'y': 'b'}])

In [164]:
for i in d:
    print(i)

Key
Kay1
KEy2
Key3

In [165]:
d

{'Key': [1, 2, 3, [5, 6, 7]],
 'Kay1': (1, 2, 3),
 'KEy2': {1, 2, 32},
 'Key3': {'x': 'a', 'y': 'b'}}

In [171]:
m = []
for i in d.values():
    if (type(i) == tuple):
        for j in i:
            m.append(j)
print(m)

[1, 2, 3]

In [172]:
# adding a new key
d["Key4"] = "This is my new DATA."

In [173]:
d

{'Key': [1, 2, 3, [5, 6, 7]],
 'Kay1': (1, 2, 3),
 'KEy2': {1, 2, 32},
 'Key3': {'x': 'a', 'y': 'b'},
 'Key4': 'This is my new DATA.'}

In [176]:
d["Key"] = "Hello"

In [177]:
d

{'Key': 'Hello',
 'Kay1': (1, 2, 3),
 'KEy2': {1, 2, 32},
 'Key3': {'x': 'a', 'y': 'b'},
 'Key4': 'This is my new DATA.',
 'Key1': 'Hello'}

# Dic conprehansion

In [181]:
d = {}
for i in range(10):
    d[i] = i**2
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [187]:
{ i : i**2 for i in range(10) }

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [182]:
l = 
d = {}
for i in l:
    d[i] = i.upper()
    
d

{'anuj': 'ANUJ', 'yadav': 'YADAV', 'xyz': 'XYZ', 'abc': 'ABC'}

In [189]:
{ i:i.upper() for i in ["anuj","yadav","xyz","abc"] }

{'anuj': 'ANUJ', 'yadav': 'YADAV', 'xyz': 'XYZ', 'abc': 'ABC'}

In [190]:
d

{'anuj': 'ANUJ', 'yadav': 'YADAV', 'xyz': 'XYZ', 'abc': 'ABC'}

In [191]:
d.items()

dict_items([('anuj', 'ANUJ'), ('yadav', 'YADAV'), ('xyz', 'XYZ'), ('abc', 'ABC')])

# Function

In [192]:
def test():
    """ 
    Test function
    """
    pass

In [193]:
test()

In [194]:
type(test())

NoneType

In [199]:
def test():

    print("This is a test function")

In [200]:
test()

This is a test function

In [204]:
def test():
    a = 10
    b = 15
    print("Sum is:",a+b)

In [205]:
test()

Sum is: 25

In [206]:
type(test())

Sum is: 25

NoneType

In [208]:
type(print("ANuj"))

ANuj

NoneType

### type of print() -- > NoneType

In [209]:
def test():
    a = 10
    b = 15
    print(a+b)

In [210]:
test()

25

In [211]:
test() + 1   # -- > unsupported operand type(s) for +: 'NoneType' and 'int'

25

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [212]:
b = test()

25

In [213]:
b

In [214]:
b+1

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [215]:
type(b)

NoneType

In [216]:
def test():
    a=10
    b=15
    return a+b

In [218]:
type(test())

int

In [219]:
test()

25

In [220]:
test()+1

26

In [222]:
x = test()

In [223]:
x+25

50

In [224]:
def test(a,b):
    return a+b

In [225]:
test()

TypeError: test() missing 2 required positional arguments: 'a' and 'b'

In [226]:
test(10,20)

30

In [227]:
test("Anuj","Yadav")

'AnujYadav'

In [228]:
test("Anuj",10)

TypeError: can only concatenate str (not "int") to str

In [229]:
test("Anuj","10")

'Anuj10'

In [230]:
test([1,2],[3,4])

[1, 2, 3, 4]

In [233]:
x = test("Anuj"," Yadav")
x

'Anuj Yadav'

In [234]:
type(x)

str

In [235]:
def test(a,b):
    return a+b , a*b

In [236]:
test(10,5)

(15, 50)

In [237]:
type(test(10,5))

tuple

In [238]:
x,y = test(10,5)

In [239]:
x

15

In [240]:
y

50

In [241]:
def test(a,b=" Yadv"):
    return a+b

In [242]:
test()

TypeError: test() missing 1 required positional argument: 'a'

In [243]:
test(1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [245]:
test("anuj")

'anuj Yadv'

In [246]:
test("anuj","Singh")

'anujSingh'

In [ ]:
l = [4,5,6,5,7,8,9,[4,5,6,7,7,5]] # task is to remove 5 from entire list