In [1]:
a = 1+1

In [2]:
a =[1,2,3]

In [3]:
id(a[1])

140718161868608

In [4]:
id(a[0])

140718161868576

## Range

In [5]:
a = range(10)

In [6]:
b = range(0,10,2)

In [7]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(b)

[0, 2, 4, 6, 8]

In [9]:
list(range(1,10,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list(range(10,1))

[]

In [11]:
list(range(10,1,1))

[]

In [12]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [13]:
a = list(range(1,10))

In [14]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
a[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [16]:
list(range(1,5.5))

TypeError: 'float' object cannot be interpreted as an integer

## Loops

In [17]:
a=[1,2,3,4]
b=[]
for num in a:
    b.append(num+2)
    
print(b)

[3, 4, 5, 6]

In [18]:
c = []
for num in range(100):
    if num%2 == 0:
        c.append(num)
print(c)

# d = []

# for num in a:
#     if num%5 == 0:
#         d.append(num)
# print(d)
        
            
        
#    
# print(c)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [19]:
l = [5,10,15,20,25,30,35,40,45]
m = []

for num in l:
    num = num+5
    m.append(num)
    
print(m)

[10, 15, 20, 25, 30, 35, 40, 45, 50]

In [20]:
l = [5,10,15,20,25,30,35,40,45]
m = []

for num in l:
    m.append(num+5)
    
print(m)

[10, 15, 20, 25, 30, 35, 40, 45, 50]

In [21]:
m = []

for num in range(5,50,5):
    m.append(num+5)
    
print(m)

[10, 15, 20, 25, 30, 35, 40, 45, 50]

In [22]:
l = [5,10,15,20,25,30,35,40,45]
m = []
list(range(len(l)))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
m = []
l = [5,10,15,20,25,30,35,40,45]

for num in range(len(l)):
    m.append(l[num]+5)
    
print(m)

[10, 15, 20, 25, 30, 35, 40, 45, 50]

In [24]:
l = [5,10,15,20,25,30,35,40,45]
m = []

for num in l:
    if (num >= 40):
        m.append(num+50)
        #print(m)
        
    else:
        pass
    
print(m)

[90, 95]

In [25]:
l = [1,2,3,4,"Anuj","Yadav"]
m = []
for i in l:
    if (type(i) == str):
        m.append(i)
        
print(m)

['Anuj', 'Yadav']

In [26]:
type('Anuj')

str

### While Loop

In [27]:
d = 10
s = 0
i = 1

while i<=d:
    s = s + i
    i += 1
    print(f"value of s,i is {s}, {i}")
    print("\n")

print(f"final value of s is {s}")
print("\n")
print(f"final value of i is {i}")

value of s,i is 1, 2


value of s,i is 3, 3


value of s,i is 6, 4


value of s,i is 10, 5


value of s,i is 15, 6


value of s,i is 21, 7


value of s,i is 28, 8


value of s,i is 36, 9


value of s,i is 45, 10


value of s,i is 55, 11


final value of s is 55


final value of i is 11

### Break statement

### Break statement in Python is used to bring the control out of the loop when some external condition is triggered. Break statement is put inside the loop body (generally after if condition).

In [28]:
for x in "anuj":
    if (x == "a"):
        break
        print(x)

In [29]:
for x in "anuj":
    if (x == "a"):
        break
    print(x)

In [30]:
for x in "anuj":
    if (x == "a"):
        break
print(x)

a

In [31]:
for x in "anuj":
    if (x == "u"):
        break
        print(x)

In [32]:
for x in "anuj":
    if (x == "u"):
        break
    print(x)

a
n

In [33]:
for x in "anuj":
    if (x == "u"):
        break
print(x)

u

## for else

### The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [34]:
for x in "anuj":
    if x == "n":
        break
    print(x)
else:
    print("I'm able to complete iteration.")
    
print('Out of loop')

a
Out of loop

In [35]:
for x in "anuj":
    if x == "z":
        break
    print(x)
else:
    print("I'm able to complete iteration.")
    
print('Out of loop')

a
n
u
j
I'm able to complete iteration.
Out of loop

### Continue

### While continue exicute it gives control to loop it self

In [36]:
for i in "anuj":
    if i == 'u':
        continue 
    print(i)

a
n
j

In [37]:
x

'j'

### i/p statement

In [38]:
input()

''

In [39]:
name = input()

In [40]:
name

''

In [41]:
num = int(input())

ValueError: invalid literal for int() with base 10: ''

In [42]:
num

45

In [43]:
a = int(input())
l = [1,2,2,3,3,3,3,6,7,7,8,8,8,8,8]
m = []

for i in l:
    if i == a:
        m.append(i)
print(m)

ValueError: invalid literal for int() with base 10: ''

### + will work as concatination but it depands upon data type so data type must same

In [44]:
"Anuj" + "Yadav"

'AnujYadav'

In [45]:
"Anuj" + "Yadav" + str(1)

'AnujYadav1'

In [46]:
"Anuj" + "Yadav" + 1

TypeError: can only concatenate str (not "int") to str

In [47]:
[1,2,3] + list('Anuj')

[1, 2, 3, 'A', 'n', 'u', 'j']

In [48]:
[1,2,3] + 'Anuj'

TypeError: can only concatenate list (not "str") to list

## Inbult function or matethes with string & Lists

In [1]:
a = "anuj"

In [2]:
a + str(1) # str(1) this is know as type cast

'anuj1'

In [3]:
["Anuj"] + list(" Yadav")

['Anuj', ' ', 'Y', 'a', 'd', 'a', 'v']

In [4]:
 a*10

'anujanujanujanujanujanujanujanujanujanuj'

In [6]:
"b"*10

'bbbbbbbbbb'

In [10]:
["b"]*10

['b', 'b', 'b', 'b', 'b', 'b', 'b', 'b', 'b', 'b']

In [8]:
[1,2,3,"AY"]*4

[1, 2, 3, 'AY', 1, 2, 3, 'AY', 1, 2, 3, 'AY', 1, 2, 3, 'AY']

In [11]:
[1]*7

[1, 1, 1, 1, 1, 1, 1]

In [12]:
a

'anuj'

In [16]:
b = list("yadav")

In [17]:
b

['y', 'a', 'd', 'a', 'v']

In [18]:
a.upper()

'ANUJ'

In [21]:
c = "ANUJ"

In [22]:
c.lower()

'anuj'

In [23]:
c

'ANUJ'

In [24]:
c = "My name is Anuj Yadav"

In [30]:
c.split() # Slplit return list

['My', 'name', 'is', 'Anuj', 'Yadav']

In [34]:
c.split("a", 3)

['My n', 'me is Anuj Y', 'd', 'v']

In [32]:
"anuj@yadav@email@gamil.com".split("@")

['anuj', 'yadav', 'email', 'gamil.com']

In [37]:
c.partition("a")

('My n', 'a', 'me is Anuj Yadav')

In [39]:
"anujYyadav".partition('Y')

('anuj', 'Y', 'yadav')

In [41]:
str(b)

"['y', 'a', 'd', 'a', 'v']"

In [43]:
a  = list("anuj")

In [44]:
str(['y', 'a', 'd', 'a', 'v'])

"['y', 'a', 'd', 'a', 'v']"

In [45]:
a = list('anuj')

In [46]:
a

['a', 'n', 'u', 'j']

In [57]:
a = list('anuj')
b = ""
for i in a:
    b += i
    print(b)
print("\n")
type(b)

a
an
anu
anuj

str

In [63]:
tuple(a)

('a', 'n', 'u', 'j')

In [64]:
type(a)

list

In [61]:
tuple(b)

('a', 'n', 'u', 'j')

In [65]:
type(b)

str

In [66]:
"anujyadav".find('a') # it will return index of a

0

In [67]:
"anujyadav".find('y') # it will return index of y

4

In [1]:
"anujyadav".find("b") # if element not there than it will give you -1

-1

In [1]:
"My name is anuj".capitalize()

'My name is anuj'